body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.site-branding {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: white;
}

h1 {
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.secondary-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0;
  margin-top: 6%;
  padding: 0;
  padding-left: 25%;
  padding-bottom: 10px;
}

li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.9;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 300ms all ease-in-out;
}

.menu-item:hover {
  border-bottom: 1px solid #c7c8c9;
  color: #c7c8c9;
}

.frontImg {
  margin: 0 auto;
  max-width: 50%;
  max-height: 519px;
}

.footer-content {
  display: block;
}

.site-info {
  margin: 0 auto;
  padding: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  font-size: 13px;
}

@media (max-width: 600px) {
  .secondary-menu ul {
    margin-top: 10vh;
  }
  .frontImg {
    max-width: 80%;
  }
}

@media (max-width: 1130px) {
  .frontImg {
    width: 100%;
    max-width: 100%;
  }
}